.currently-playing {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;

  &__container {
    min-width: 125px;
    min-height: 125px;
    @media (min-width: 767px) {
      min-width: 250px;
      min-height: 250px;
    }
  }

  &__desktop-animation {
    position: absolute;
    top: -1000000px;
  }

  .spotify {
    display: none;

  }

  &__handle-show-info {
    display: none;

    &:checked + .spotify__wrapper {

      .spotify {
        background: var(--main-bg-color);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 22222;
        display: grid;
        grid-template-columns: auto 1fr 50px;
        grid-template-areas: "live . close" " primary-text primary-text primary-text" "secondary-text secondary-text secondary-text" "album-cover album-cover album-cover" ". . . ";
        padding: 1.5rem;
        grid-template-rows: auto auto auto auto 1fr;
        grid-gap: 1.5rem;
        color: #fff;

        ::selection {
          background: var(--secondary-bg-color);
          -webkit-background-clip: unset;
          -webkit-text-fill-color: var(--main-bg-color) !important;
          color: var(--main-bg-color) !important;
        }

        strong {
          color: var(--secondary-color);
        }

        &__live-icon {
          grid-area: live;
        }

        &__close-icon {
          grid-area: close;
          cursor: pointer;
          color: #0f0;
        }

        &__primary-text {
          grid-area: primary-text;
        }

        &__secondary-text {
          grid-area: secondary-text;
        }

        &__album-cover {
          grid-area: album-cover;
          justify-self: center;
          cursor: pointer;
          img {
            width: 100%;
            height: auto;
          }
        }

        @media all and (min-width: 767px) {
          bottom: unset;
          top: unset;
          grid-gap: 0.8rem;
          border: 2px solid #0f0;
          grid-template-columns: auto 1fr 50px;
          position: fixed;
          left: 0;
          right: 0;
          width: max-content;
          max-width: 730px;
          margin: auto;
          grid-template-areas: "live . close" " album-cover primary-text primary-text" "album-cover secondary-text secondary-text" ". . . ";
          &__album-cover {
            img {
              height: 80px;
              width: auto;
            }
          }
        }
      }


    }
  }


  &__circle {
    display: block;
    $self: &;


    &--mobile {
      display: none;
      cursor: pointer;
    }

    &.playing {
      position: absolute;
      top: calc(100% - 40px);
      left: calc(100% - 40px);
      cursor: pointer;
      border-radius: 50%;
      box-shadow: var(--box-shadow);
      background-color: hsl(60deg 100% 90%);;

      #{$self}--mobile {
        display: grid;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
      }

      #{$self}--desktop {
        @media all and (min-width: 767px) {

          position: absolute;
          top: -210px;
          left: -210px;
          right: 0;
          bottom: 0;
          width: 250px;
          height: 250px;
          z-index: 222;
          animation: rotating 150s linear infinite;
          cursor: pointer;
          filter: url('#wavy') blur(1px);

          &:before, &:after {
            content: '';
            position: absolute;
            top: 20px;
            left: 20px;
            right: 20px;
            bottom: 20px;
          }

          &:before {
            border: 5px solid var(--main-bg-color);
            border-radius: 50%;
            box-shadow: 0 0 12.5px var(--secondary-bg-color), inset 0 0 12.5px var(--secondary-bg-color);
            animation: animate 5s linear infinite;

            @media (min-width: 767px) {
              border: 10px solid var(--main-bg-color);
              box-shadow: 0 0 25px var(--secondary-bg-color), inset 0 0 25px var(--secondary-bg-color);
            }
          }

          &:after {
            border: 5px solid var(--main-bg-color);
            border-radius: 50%;
            box-shadow: 0 0 2.5px var(--main-bg-color), inset 0 0 5px var(--main-bg-color);
          }


        }
      }

      @media all and (min-width: 767px) {
        border-radius: inherit;
        box-shadow: inherit;
        background-color: inherit;
        #{$self}--mobile {
          display: none;
        }
      }
    }

    @media all and (min-width: 767px) {
      display: none;
      &.playing {
        display: block;

      }
    }
  }

  &__wrapper {
    position: relative;
    display: inline-block;
    width: 125px;
    height: 125px;
    @media (min-width: 767px) {
      width: 250px;
      height: 250px;
    }

    .gatsby-image-wrapper {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      box-shadow: var(--box-shadow);
      margin: 12px;

      img {
        pointer-events: none;
      }

      &.gatsby-image-wrapper--desktop {
        display: none;
      }

      @media all and (min-width: 767px) {
        &.gatsby-image-wrapper--mobile {
          display: none;
        }
        &.gatsby-image-wrapper--desktop {
          display: inline-block;
        }
        width: 200px;
        height: 200px;
        margin: 25px;
      }
    }
  }

}


@keyframes animate {
  0% {
    box-shadow: 0 0 25px var(--secondary-bg-color), inset 0 0 25px var(--secondary-bg-color);
    filter: hue-rotate(0deg);
  }
  20% {
    box-shadow: 0 0 30px var(--secondary-bg-color), inset 0 0 30px var(--secondary-bg-color);
  }

  40% {
    box-shadow: 0 0 20px var(--secondary-bg-color), inset 0 0 20px var(--secondary-bg-color);
  }
  60% {
    box-shadow: 0 0 40px var(--secondary-bg-color), inset 0 0 40px var(--secondary-bg-color);
  }
  80% {
    box-shadow: 0 0 50px var(--secondary-bg-color), inset 0 0 50px var(--secondary-bg-color);
  }
  100% {
    box-shadow: 0 0 25px var(--secondary-bg-color), inset 0 0 25px var(--secondary-bg-color);
    filter: hue-rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

