:root {
  --main-color: hsl(308deg 31% 35%);
  --secondary-color: hsl(60deg 100% 70%);
  --text-color: #fff;

  --main-bg-color: hsl(308deg 31% 35%);
  --secondary-bg-color: hsl(60deg 100% 70%);

  --link-color: hsl(60deg 100% 70%);
  --link--hover-color: hsl(120deg 100% 90%);
}
