.blog-post #content {
    .navigation__back {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        color: var(--link-color);
        display: block;
        width: 100%;
        text-align: left;
        margin-bottom: 1.5em;

        &:hover {
            animation: moveLeft 2s;
            animation-iteration-count: infinite;
        }
    }

    p {
        margin-bottom: 1.25rem;
    }

    .date {
        font-size: 1rem;
        color: var(--secondary-color);
        margin-bottom: 0;
    }
    h1 {
        margin-top: 0;
    }
}
