header {
  background-color: white;
}
header, main, aside, .parallax-placeholder {
  position: relative; /* crucial for z-index to work */
}
header {
  background: white;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 14;
}
aside{
  background: white;
}
aside, main {
  z-index: 10;
}
.parallax-placeholder {
  z-index: 1;
}

.layout-footer {
  position: sticky;
  bottom: 0;
  z-index: 5;
  overflow: hidden;
  width: 100%;
}

.visual-check-down {
  text-align: center;
  @include moveUpDown(1rem, true);
  cursor: pointer;
}

