.main-navigation {
  color: #fff;
  position: relative;
  top: 0;
  right: 0;
  height: 96px;
  width: 100%;
  display: grid;
  font-size: 23px;
  background: var(--header-background-color);
  @media all and (min-width: 767px) {
    font-size: 28px;
  }

  &.expanded {
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    transform: translate3d(0, 0, 0);
    width: 100%;
    height: 100%;
    text-align: center;

    .main-navigation__handle {

      :before {
        font-family: 'gabykaram', sans-serif;
        content: "\e900";
      }
    }
  }

  text-align: center;

  &__handle {
    background-color: transparent;
    border: unset;
    cursor: pointer;
    color: var(--main-icon-color);
    outline: none;

    &:hover :before {
      /* Start the shake animation and make the animation last for 0.5 seconds */
      animation: shake 1s;

      /* When the animation is finished, start again */
      animation-iteration-count: infinite;
    }

    :before {
      font-family: 'gabykaram', sans-serif;
      content: "\e901";
      font-size: 3rem;
      display: inline-block;
    }

    &__wrapper {
      max-width: 1200px;
      position: absolute;
      top: 20px;
      right: 0;
      left: 0;
      margin: auto;
      padding-left: 2.5%;
      padding-right: 2.5%;
      color: var(--main-color);
      z-index: 3;

      text-align: right;
    }
  }

  &__menu {
    background: var(--menu-background-color);
    transform: translate3d(0, -800px, 0);
    transition: transform .25s;
    align-items: center;
    display: grid;

    &.visible {
      transform: translate3d(0, 0, 0);
    }

    &__wrapper {
      height: auto;
    }
  }

  .heading {
    font-weight: 700;
    font-size: 2.4em;
    letter-spacing: -.05em;
    display: block;
  }

  .menu_label {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    display: inline;
  }

  section {
    display: flex;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "siteLinks deserts" "contact ." "notes notes";
    width: 66%;
    max-width: 767px;
    margin: auto;
    text-align: left;
    font-weight: 500;

    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;

    ul {
      list-style-type: none;
      width: 50%;
      margin-bottom: 1em;

      span {
        color: var(--main-color);
        font-size: .875em;
        font-style: italic;
        font-weight: 700;
      }

      a {
        color: #fff;
        display: block;
        padding-left: 1em;
        margin-left: -1em;

        &:hover {
          color: var(--main-color)
        }
        &.current {
          color: var(--secondary-color)
        }
      }
    }

    .siteLinks {
      grid-area: siteLinks;
      order: 0;
      text-align: left;
    }

    .contact {
      grid-area: contact;
      order: 2;
      text-align: left;
    }

    .deserts {
      grid-area: deserts;
      order: 1;
      text-align: right;
    }

    .notes {
      grid-area: notes;
      order: 3;


      text-align: center;
      font-size: .6em;
      line-height: 1.5em;
      font-style: italic;
      color: var(--secondary-color);
      width: 100%;

      @media screen and (min-width: 768px) {
        font-size: .75em;
      }
    }
  }
}
