.pro-bono {
  color: var(--main-color);
  background: var(--container-background-color);

  &__wrapper {
    background: var(--secondary-background-color2);
  }

  &__container {
    max-width: 867px;
    margin: auto;
    padding: 5rem 2rem;
    display: grid;
    grid-gap: 3rem;
  }

  &__title {
    text-align: left;
  }

  &__content {
    display: grid;
    grid-gap: 2rem;

    p {
      line-height: 2;

      a:not(.social-icon) {
        color: inherit;
        text-decoration: underline;

        &:hover {
          color: var(--link--hover-color);
        }
      }

      .social-icon {


        &:not(:last-child) {
          margin-right: 1.6rem;
        }

        &:hover {
          svg {
            fill: var(--main-icon-hover-color);
          }
        }

        &__name {
          @include visually-hidden
        }

        svg {
          width: 2rem;
          fill: var(--main-icon-color);
        }
      }
    }
  }
}
