.tools {
  display: grid;
  grid-template-rows: auto;
  padding-top: 1.4em;
  padding-bottom: 1.4em;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;

  @media all and (min-width: 767px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  &__wrapper {
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
  }

  &__title {
    font-size: 2.1rem;
    line-height: 1.325;
    text-align: center;
    border-bottom: 1px solid var(--secondary-color);
    display: inline-block;
  }

  .tool {
    width: 100%;

    &__label {
      @include visually-hidden;
    }
    svg {
      max-width: 100px;
      padding: 0.5em;
    }

    @media all and (min-width: 767px) {
      &--column-2 {
        grid-column: span 2;

        svg {
          width: 80%;
          max-width: unset;
        }
      }
    }
  }
}
