.webring {
  &__container {
    background: var(--container-background-color);
  }
  text-align: center;
  font: 100% system-ui, sans-serif;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--header-background-color);
  color: var(--main-color);
  font-size: 1.5rem;
  margin-block-start: 0;
  margin-block-end: 0;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  margin: 0;
  .icon {
    font-size: 100px;
  }

  a {
    color: var(--main-icon-color);
    padding: 0 4px;
    &:hover {
      color: var(--main-icon-hover-color-invert);
      transition: .3s;
      font-weight: bold;
    }
  }

  .batata {
    display: inline-block;
    position: relative;
    img {
      width: auto;
      height: 100%;
      object-fit: contain !important;
    }
  }

  .harra {
    position: absolute;
    transform: translate(0, -85%);
    width: 24px;
    z-index: -1;

  }

  @media screen and (min-width: 450px) {

    .harra {
      transform: translate(20%, -85%);
    }
  }

}
