:root {
  --text-color: #fff;


  --main-color: hsl(231deg 9% 28%);
  --main-color--gradient: hsla(231, 9%, 60%, 1);
  --main-darker-color: hsl(285deg 31% 35%);
  --secondary-color: hsl(60deg 100% 90%);
  --menu-link-color: #fff;

  --main-bg-color: hsl(231deg 9% 28%);
  --main-bg-color--60: hsl(308deg 31% 35%/60%);
  --main-bg-transparent-color: rgba(82, 14, 74, 0.8);
  --secondary-bg-color: hsl(60deg 100% 90%);



  --link-color: hsl(60deg 100% 90%);
  --link-color-visited: #E2E251;
  --link--hover-color: #E2E251;
  --box-shadow: 0px 0px 0.3rem rgb(148 136 195 / 70%);

  //--secondary-background-color2: hsl(60deg 100% 70% / 30%);
  --secondary-background-color2: hsla(348deg 29% 33% / 30%);
  --container-background-color: white;
  --header-background-color: hsla(348deg 29% 33% / 50%);
  //--header-background-color: hsl(60deg 100% 70% / 50%);
  --main-icon-color: #f8f8f8;
  --main-icon-hover-color: #E2E251;
  --main-icon-hover-color-invert: black;

  --menu-background-color: rgba(0, 0, 0, .85);

  --green-color: #19E68A;

}

@media (prefers-color-scheme: dark) {
  :root {
    --main-color: #fff;
    --main-color--gradient: hsl(231deg 9% 58%);
    --main-darker-color: #3A0E34;
    --secondary-color: hsl(60deg 71% 60%);
    --menu-link-color: #000;

    --main-bg-color: #3A0E34;
    --main-bg-color--60: hsla(308deg 61% 14% / 60%);
    --main-bg-color: hsl(231deg 9% 28%);

    --container-background-color: black;
    --secondary-background-color2: hsl(348deg 29% 33% / 90%);
    --header-background-color: hsl(348deg 29% 33% / 80%);
    --main-bg-transparent-color: rgba(82, 14, 74, 0.8);

    --menu-background-color: rgba(0, 0, 0, .95);

    --secondary-bg-color: hsl(60deg 71% 60%);

    --main-icon-hover-color: #C5C548;
    --main-icon-hover-color-invert: white;

    --link-color: #fff;
    --link-color-visited: #C5C548;
    --link--hover-color: #C5C548;

    --green-color: hsl(153deg 50% 50%);
  }
}
