
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ryi1lc');
  src:  url('fonts/icomoon.eot?ryi1lc#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?ryi1lc') format('truetype'),
  url('fonts/icomoon.woff?ryi1lc') format('woff'),
  url('fonts/icomoon.svg?ryi1lc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e900";
  color: #707070;
}
.icon-menu:before {
  content: "\e901";
  color: #707070;
}
