@mixin siteIcon {
  font-family: 'gabykaram' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin arrowsLeft {

  &:before {
    content: "\e902";
  }
}

@mixin arrowsDown {

  &:before {
    content: "\e902";
  }
}

@mixin arrowsUp {

  &:before {
    content: "\e903";
  }
}
